*{
    text-align: center;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }
body{
    overflow-x: hidden;
}
#colapsadorA{
    position: relative;
    font-size: smaller;
    top: 1%;
    right: 2%;
    text-decoration: none;
}
#colapsadorA:hover{
    cursor: pointer;
}
#desc{
    margin-left: 15px;
    visibility: hidden;
}
.icon-bar{
    background-color: gray;
    border: 1px solid gray;
}
a{
    color: black !important;
}
.img-dropdown{
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    margin: 5px;
    border: solid black 2px;
    overflow: hidden;
    max-height: 15vh;
}
.img-projeto{
    height: 100px;
    width: auto;
    margin: 5px;
}
.carousel-inner{
    display: flex;
    justify-content: center;
}
main{
    height: fit-content;
}
#logo{
    margin: auto;
}
@media screen and (max-width: 767px){
    .navbar-header{
        display: flex;
        flex-direction: column
    }
}
#barra{
    display: flex;
    justify-content: center;
}
header li{
    font-weight: bold;
}
#carrossel{
    height: 70vh;
    background-color: gray;
}
p{
    text-indent: 5%;
    font-size: large;
    text-align: justify;
}
.sobre{
    display: flex;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.sobre p{
    font-size: 0.8vw;
}
.sobre img{
    width: 15%;
}
.descrição{
    padding-left: 1%;
    padding-right: 1%;
}
.descExib{
    display: flex;
    align-items: center;
}
.descExib h1{
    margin-right: 2%;
}
@media screen and (max-width: 991px){
    .biografia p{
        font-size: 50% !important;
    }
}
@media screen and (max-width: 1199px) {
    .evento h3{
        font-size: 1.5vw;
    }
    .evento h4{
        font-size: 1vw;
    }
    .evento h5{
        font-size: 1vw;
    }
    .evento p{
        font-size: 1vw !important;
    }   
}
.evento, .biografia{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
    margin-top: 1%;
}
.evento img, .biografia img{
    border-radius: 7px;
    margin-right: 2%;
    width: 20%;
}
.evento p, .biografia p{
    padding-right: 1%;
    font-size: medium;
}
.biografia p{
    padding-top: 2%;
}
.evento h5{
    margin-bottom: -2%;
}
.evento h3{
    margin-bottom: -1%;
}
.inscrever{
    background-color: #b72025 !important;
    border: 0px !important;
    padding: 1% !important;
}
footer{
    border-top: 1px solid black;
}
footer h4{
    color: #2e3192;
    font-weight: bold;
}
