
#logo{
    margin: auto;
}
#barra{
    display: flex;
    justify-content: center;
}
header li{
    font-weight: bold;
}
#carrossel{
    height: 70vh;
    background-color: gray;
}
p{
    text-indent: 5%;
    font-size: large;
}
.sobre{
    display: flex;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.descrição{
    padding-left: 1%;
    padding-right: 1%;
}
.descExib{
    display: flex;
    align-items: center;
}
.descExib h1{
    margin-right: 2%;
}
.evento, .biografia{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
}
.evento img, .biografia img{
    border-radius: 7px;
    margin-right: 2%;
}
.evento p, .biografia p{
    padding-right: 1%;
}
.biografia{
    align-items: center;
    margin-top: 1%;
}
.biografia p{
    padding-top: 2%;
}
.evento h5{
    margin-bottom: -1%;
}
.inscrever{
    background-color: #b72025 !important;
    border: 0px !important;
    padding: 1% !important;
}
footer{
    border-top: 1px solid black;
}
footer h4{
    color: #2e3192;
    font-weight: bold;
}
